# Node modules folder (don't commit dependencies)
models/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/


# Optional npm cache directory
.npm/

# Environment variables
.env
.myvenv/
.ocr_env/

# Python cache directories
__pycache__/
**/__pycache__/