# python == 3.10
protobuf==3.20.3
sentencepiece==0.1.99
numpy==1.26.4
paddlepaddle-gpu==3.2.1 -i https://www.paddlepaddle.org.cn/packages/stable/cu126/
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2 --index-url https://download.pytorch.org/whl/cu121
triton==2.1.0
bitsandbytes==0.47.0 --no-deps
paddleocr[doc-parser]
paddlex
decord
Pillow==10.1.0
langchain==0.0.352
uvicorn
fastapi
python-multipart
nest_asyncio
pyngrok
langchain_text_splitters
huggingface_hub[cli]